# Server
PORT=5000

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/mern-ecommerce

# JWT
JWT_SECRET=your_super_secret_key

# bKash
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_USERNAME=
BKASH_PASSWORD=

# Nagad
NAGAD_MERCHANT_ID=
NAGAD_PUBLIC_KEY=
NAGAD_PRIVATE_KEY=

# Rocket
ROCKET_MERCHANT_NUMBER=